.add-movie-button {
  background-color: #e50914;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.add-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.add-movie-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.add-movie-container input,
.add-movie-container select,
.add-movie-container textarea {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

.add-movie-container button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
